body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #e6edf3;
}

/* HEADER */
header {
  text-align: center;
  padding: 70px 20px;
  background-color: #161b22;
}

h1 {
  color: #58a6ff;
  margin-bottom: 10px;
}

h2 {
  color: #58a6ff;
  margin-top: 40px;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* PROJECT CARD */
.project {
  background-color: #161b22;
  padding: 20px;
  margin-top: 15px;
  border-radius: 12px;
  border-left: 4px solid #58a6ff;
}
.project-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 14px;
  background-color: #238636;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s ease;
}

.project-btn:hover {
  background-color: #2ea043;
}

.project-img {
  margin-top: 15px;
  padding: 20px;
  border: 1px dashed #58a6ff;
  border-radius: 10px;
  text-align: center;
  color: #8b949e;
}
.project {
  background-color: #161b22;
  padding: 25px;
  margin-top: 20px;
  border-radius: 12px;
  border-left: 4px solid #58a6ff;
  line-height: 1.6;
}
.dashboard-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
  margin-top: 15px;
}

.dashboard-gallery img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #58a6ff;
  transition: transform 0.2s ease;
}

.dashboard-gallery img:hover {
  transform: scale(1.03);
}
/* LISTS */
ul {
  line-height: 1.8;
}

/* CONTACT */
.contact-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

.contact-btn {
  display: inline-block;
  padding: 12px 15px;
  background-color: #161b22;
  border-left: 4px solid #58a6ff;
  color: #e6edf3;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background-color: #21262d;
  transform: translateX(5px);
}

.location {
  margin-top: 10px;
  color: #8b949e;
}
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #161b22;
}

.subtitle {
  color: #8b949e;
  margin-top: 10px;
  font-size: 16px;
}

.intro {
  max-width: 700px;
  margin: 20px auto;
  color: #c9d1d9;
  line-height: 1.6;
}

.hero-links {
  margin-top: 20px;
}

.hero-btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 14px;
  background-color: #238636;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #2ea043;
}
html {
  scroll-behavior: smooth;
}
section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}
.profile-pic {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #58a6ff;
  margin-bottom: 15px;
}
